h1{

    text-align: center; /*Alinhando o texto ao centralizar*/
    font-size: 50px; /*Tamnho da fonto*/
}

/* body {

    background-color: rgb(236, 236, 51);
} */

.div1 {

    font-size: 20px;
    font-weight: 600; /*Quao negrito a fonte sera*/
    text-align: center;
    border: 1px solid black;
    border-radius: 10%;
    padding: 8px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);/*Colocando um sombreamento na caixa*/ 
    /*Alinhando a div*/
    width: 45%;
    height: auto;
    margin: auto;

}

.imgDia{

    width: 45%;
    padding-top: 3%; /*Criando um distancia do texto acima*/ 
    border-radius: 70%; /*Criando a imagem redonda*/
    height: auto;
    max-width: 100%; /*a imagem nunca ficara mair que 100*/
    /* filter: grayscale(50%); Mudando o filtro da imagem para preto e branco */

}

p#para1 {

    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 18px;
    font-style: italic;
}